<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="msg">
        <input type="button" value="发表留言" @click="add_note">
        <ul>
            <li v-for="(note, index) in notebook" :key="index">
                <span>{{note}}</span> <a href="javascript:;" @click="delNote(index)">删除</a>
            </li>
        </ul>
    
        <span>留言总数量：{{notebook.length}}条</span>
        <br>
        <input v-show="is_show" type="button" value="删除所有" @click="deleteAll">
    </div>
    <script src='./vue.min.js'></script>
    <script>
        new Vue({
        el: "#app",
        data: {
            notebook: ["1", "2"],
            msg: "",
            is_show:"true",
        },
        methods: {

            add_note() {


                let msg = this.msg;
                if (msg) {

                    this.notebook.unshift(this.msg);
                    this.is_show="true"
                    this.msg = "";
                }
            },


            delNote(index){
                console.log(index);
 
                this.notebook.splice(index, 1)  
            },
            deleteAll(){
                this.notebook.splice(0);
                this.is_show=!this.is_show;
            },
        }
    })
</script>
</body>
</html>